<!-- Menu Section -->
<nav id="navMenu" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="imgMainLogo" src="../../images/48x48.ico" alt="Logo">
            Mipekicha Digital
        </a>
        <button class="navbar-toggler rounded-5" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio
                        <div class="line-1"></div>
                    </a>
                </li>
                {{#if user}}
                {{#if user.isAdmin}}
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation"
                        href="/live-products">Productos en tiempo real
                        <div class="line-1"></div>
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation"
                        href="/products">Productos
                        <div class="line-1"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation"
                        href="/cart/{{user.cart}}">Carrito
                        <div class="line-1"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="/chat">Chat
                        <div class="line-1"></div>
                    </a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil
                        <div class="line-1"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/session/logout">Cerrar Sesión
                        <div class="line-1"></div>
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="/login">Login
                        <div class="line-1"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation"
                        href="/login-github">Git Hub Login
                        <div class="line-1"></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-underline-animation" href="/singup">Registro
                        <div class="line-1"></div>
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>