    <div>
        <form style="">
            <input id="txtTitle" type="text" name="title" placeholder="Title">
            <input id="txtDescription" type="text" name="description" placeholder="Description">
            <input id="txtPrice" type="text" name="price" placeholder="Price">
            <input id="txtThumbnails" type="text" name="thumbnails" placeholder="Thumbnails">
            <input id="txtCode" type="text" name="code" placeholder="Code">
            <input id="txtStock" type="text" name="stock" placeholder="Stock">
            <input id="txtCategory" type="text" name="category" placeholder="Category">
            <input id="txtStatusItem" type="text" name="statusItem" placeholder="StatusItem">
            <button id="btnAddProduct">Agregar Producto</button>
        </form>
    </div>