<div>

    <h1>HOME</h1>
    <h1> Hola puedes navegar en nuestro NavBar para explorar los productos y carritos</h1>

    <!-- Form to add a new product This is the way to add another template -->
    {{!-- {{> productForm}} --}}
</div>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>