<div class="row m-auto heroIndexScreen">
    <div class="text-center mainInfo">
        <h1>HOME</h1>
        {{#if user}}
        {{#if user.isAdmin}}
        <h2 class="mainText"> Bienvenido {{user.role}} puedes agregar, remover o actualizar
            productos</h2>
        {{else}}
        <h1> Bienvenido {{user.first_name}} explora nuestra gran variedad de
            productos</h1>
        {{/if}}
        {{else}}
        <h1> Inicia session para poder ver nuestros productos, ¿Aun no estas registrado? entra <a href="/singup">aqui</a></h1>
        {{/if}}
    </div>
</div>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>