<div>

    <h1>HOME</h1>
    <h1> Hola puedes navegar en nuestro NavBar para explorar los productos y carritos</h1>
</div>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>