<h1>Iniciar Session</h1>

<form action="/api/session/login" method="POST" id="login-form">
    Email: <input type="text" name="email" id="email"><br>
    Password: <input type="text" name="password" id="password"><br>

    <input type="submit" value="Iniciar Sesion" id="login">
</form>