<h1>Recuperar Contraseña</h1>

<p>Ingresa tu correo</p>
<form action="/api/mail" method="POST" id="restore-password-form">
    Email: <input type="text" name="email" id="email"><br>

    <input type="submit" value="Recuperar" id="restore">
</form>