<h1>Recuperar Contraseña - Token</h1>

<form action="/api/mail/restore" method="POST" id="restore-password-form"></form>
<p>Ingresa el codigo que enviamos a tu correo para continuar</p>
    Codigo: <input type="text" name="token" id="token"><br>
    <input type="submit" value="Continuar" id="token">
</form>