<h1>Recuperar Contraseña - Token</h1>

<form action="/api/session/restore" method="POST" id="restore-password-form">
<p>Ingresa el codigo que enviamos a tu correo para continuar</p>
    Codigo de autorizacion: <input type="text" name="token" id="token"><br>
    Nuevo Password: <input type="password" name="password" id="password"><br>
    Confirmar Password: <input type="password" name="confirmPassword" id="confirmPassword"><br>
    <input type="submit" value="Continuar" id="submitToken">
</form>